/* Variables */
:root {
  --color-primary: rgb(67, 110, 112);
  --color-secondary: rgb(2, 72, 131);
  --color-blue: rgb(39, 66, 148);
  --color-red: rgb(113 2 2);
  --color-B: rgb(2, 45, 49);
  --color-B-contrast: rgb(0, 13, 14);
  --color-W: rgb(248, 252, 252);
  --color-gold: rgb(140, 127, 70);
  --color-gold-contrast: rgb(60, 54, 29);
  --color-light-grey: rgb(219, 235, 235);
  --color-grey: rgb(102, 124, 124);
  --color-grey-contrast: rgb(80, 98, 98);
  /* Variables cannot be used as @media query args */
  --w-iPhone: 390px;
  --w-iPad: 810px;
  --w-FullHD: 1920px;
  --h-FullHD: 1080px;
  --w-2K: 2560px;
  --img-mobile: 358px;
  --img-tablet: 377px;
  --img-desktop: 528px;
  --img-TV: 948px;
}

/* Globals */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

:where(body > header > div, body > nav, main) {
  margin: 0 auto;
  max-width: 810px;

  @media only screen and (min-width: 2560px) {
    max-width: var(--h-FullHD);
  }
}

:where(body > header, body > nav, footer) {
  background-color: var(--color-light-grey);
}

body {
  /* vs. scrollbar-y affecting viewport width */
  min-width: 100vw;
  overflow-x: hidden;
  font-family: Helvetica, Arial, sans-serif;
  color: var(--color-B);
  background-color: var(--color-W);
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--color-primary);
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-weight: lighter;
  font-size: medium;

  @media screen and (min-width: 810px) {
    font-size: x-large;
  }

  @media screen and (min-width: 1920px) {
    font-size: xx-large;
  }

  @media screen and (min-width: 2560px) {
    font-size: 3rem;
  }
}

h2 {
  color: var(--color-gold-contrast);
  font-weight: lighter;
  margin-bottom: 0.2rem;
  font-size: large;

  @media screen and (min-width: 810px) {
    margin-bottom: 0.5rem;
    font-size: x-large;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 0.8rem;
  }

  @media screen and (min-width: 2560px) {
    margin-bottom: 1rem;
    font-size: xx-large;
  }
}

:where(p, .p) {
  margin-bottom: 1rem;
  font-size: small;
  line-height: 1.5;

  @media screen and (min-width: 810px) {
    line-height: 1.5;
    font-size: medium;
  }

  @media screen and (min-width: 1920px) {
    font-size: large;
  }

  @media screen and (min-width: 2560px) {
    font-size: x-large;
  }
}

:is(ul, ol) {
  list-style: none;
}

[href] {
  color: var(--color-B);
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--color-red);
  }

  &:active {
    color: var(--color-secondary);
  }
}

.active {
  color: var(--color-red);
}

/* COMPO - header */
body > header {
  font-size: x-large;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);

  @media screen and (min-width: 811px) {
    box-shadow: 0px 3px 10px -4px var(--color-primary);
    border-radius: 0 0 5px 5px;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 0.5rem 1.2rem;
      border-radius: 20%;
      border: 1px solid var(--color-primary);
    }

    span {
      @media screen and (min-width: 810px) {
        font-size: 3rem;
      }

      @media screen and (min-width: 1920px) {
        font-size: 3.5rem;
      }

      @media screen and (min-width: 2560px) {
        font-size: 4rem;
      }
    }
  }
}

/* COMPO - nav(s) */
body > nav {
  user-select: none;
  border: 1px solid var(--color-primary);
  border-width: 0 0 1px 1px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 3px 10px -4px var(--color-primary);

  > :where(ol, ul) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: smaller;

    @media screen and (min-width: 810px) {
      font-size: medium;
    }

    @media screen and (min-width: 1920px) {
      font-size: large;
    }

    @media screen and (min-width: 2560px) {
      font-size: x-large;
    }
  }

  > ol > li {
    margin: 0.5rem 1rem;
  }

  > ul {
    justify-content: left;

    > li {
      margin: 0 1rem 0.5rem;

      > [href] {
        color: var(--color-secondary);
      }
    }
  }

  &:nth-of-type(2) {
    p {
      padding-top: 0.5rem;
      padding-left: 1rem;
      font-style: italic;
      color: var(--color-red);
    }
  }
}

@keyframes topmenu-travel-bot-nav1 {
  0% {
    border-radius: 0;
  }

  100% {
    border-radius: 0;
  }
}

@keyframes topmenu-travel-bot-nav2 {
  0% {
    transform: translate(0, -100px);
    z-index: -1;
    box-shadow: none;
  }

  95% {
    transform: translate(0, 0);
    box-shadow: none;
    z-index: -1;
  }

  100% {
    transform: translate(0, 0);
    box-shadow: 0px 3px 10px -4px var(--color-B);
    z-index: 0;
  }
}

body[class^="pag-article"] > nav {
  animation-duration: 0.9s;
  transition-timing-function: ease-out;
  animation-fill-mode: forwards;
}

body[class^="pag-article"] > nav:nth-of-type(1) {
  animation-name: topmenu-travel-bot-nav1;
}

body[class^="pag-article"] > nav:nth-of-type(2) {
  position: relative;
  animation-name: topmenu-travel-bot-nav2;
}

/* COMPO - footer */
body > footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding-bottom: 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -3px 10px -4px var(--color-primary);
  text-align: center;

  @media screen and (min-width: 1920px) {
    position: initial;
  }

  nav ol {
    padding-top: 0.5rem;

    @media screen and (min-width: 2560px) {
      padding-top: 0.8rem;
    }
  }

  nav ul {
    padding-bottom: 0.5rem;

    @media screen and (min-width: 2560px) {
      padding-bottom: 0.8rem;
    }
  }

  nav :where(ul, ol) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 0.5rem 0.8rem;
      font-size: smaller;

      @media screen and (min-width: 810px) {
        font-size: medium;
      }

      @media screen and (min-width: 1920px) {
        font-size: large;
      }

      @media screen and (min-width: 2560px) {
        font-size: x-large;
      }
    }
  }

  nav ul {
    text-decoration: underline;
    border: 1px solid var(--color-primary);
    border-width: 0 0 1px 0;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 0.5rem 1.2rem;
      border-radius: 20%;
      border: 1px solid var(--color-primary);
    }

    p:has(abbr) {
      margin-bottom: 0;
      color: var(--color-grey-contrast);
      display: block;
      text-align: center;
      font-size: x-small;

      @media screen and (min-width: 810px) {
        font-size: small;
      }

      @media only screen and (min-width: 1920px) {
        font-size: medium;
      }

      @media only screen and (min-width: 2560px) {
        font-size: large;
      }
    }
  }
}

body:has(.pag-index) > footer {
  /* to enable clicking, app.js will set z-index:3 when reached the bottom of viewpoint */
  position: sticky;
  bottom: -1px;
}

.z-3 {
  z-index: -3;
}

.z3 {
  z-index: 3;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/* MAIN */
body > main:where(.article, .about, .references) [href] {
  text-decoration: underline;
  user-select: text;
  color: var(--color-blue);

  &:focus,
  &:hover {
    color: var(--color-red);
  }
}

body > main:where(.categories, .article, .about, .references) {
  padding: 1rem;

  @media screen and (min-width: 810px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media screen and (min-width: 1920px) {
    padding: 1rem;
  }

  h1 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    @media screen and (min-width: 810px) {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
    }

    @media screen and (min-width: 1920px) {
      margin-top: 2.5rem;
      margin-bottom: 3rem;
    }

    @media screen and (min-width: 2560px) {
      margin-top: 3.5rem;
      margin-bottom: 4rem;
    }
  }
}

/* MAIN - index */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-quote {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-arrow {
  0% {
    fill: transparent;
  }

  50% {
    fill: var(--color-light-grey);
  }

  100% {
    fill: transparent;
  }
}

body > main:where(.index) {
  article {
    @media screen and (min-width: 2560px) {
      max-width: var(--h-FullHD);
    }

    > header {
      margin-top: -0.5rem;
      position: relative;
      z-index: -1;
      height: 92vh;
      margin-bottom: 0;
      background-image: url("/src/assets/img/dunes_1080.jpg?as=webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media screen and (min-width: 1920px) {
        height: 90vh;
      }

      @media screen and (min-width: 2560px) {
        height: 92vh;
      }

      > h1 {
        position: absolute;
        top: 15vh;
        width: 100%;
        color: var(--color-gold-contrast);
        animation-name: fade-in;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        transition-timing-function: ease-in-out;
        font-size: x-large;

        @media screen and (min-width: 810px) {
          font-size: xx-large;
        }

        @media screen and (min-width: 2560px) {
          font-size: 3.5rem;
        }
      }

      > div {
        position: absolute;
        top: 78vh;
        width: 100%;
        padding: 1rem 2rem;

        @media screen and (min-width: 1920px) {
          top: 73vh;
        }

        @media screen and (min-width: 2560px) {
          top: 75vh;
        }

        blockquote {
          margin-bottom: 1rem;
        }

        p {
          animation-name: fade-in-quote;
          animation-duration: 6s;
          animation-fill-mode: forwards;
          transition-timing-function: ease-in-out;
          color: var(--color-W);
          margin-bottom: 0;
        }

        > div {
          position: absolute;
          bottom: 2vh;
          right: 8vw;

          @media screen and (min-width: 810px) {
            bottom: 2vh;
            right: 5vw;
          }

          @media screen and (min-width: 1920px) {
            right: 2vw;
          }

          > svg {
            display: block;
            margin-bottom: 0.5rem;

            path {
              fill: transparent;
              animation-name: fade-in-arrow;
              transition-timing-function: ease-out;
              animation-iteration-count: 6;
              animation-fill-mode: forwards;
            }
          }

          svg:nth-child(1) {
            path {
              animation-delay: 4s;
              animation-duration: 1s;
            }
          }

          svg:nth-child(2) {
            path {
              animation-delay: 4.25s;
              animation-duration: 1s;
            }
          }

          svg:nth-child(3) {
            path {
              animation-delay: 4.5s;
              animation-duration: 1s;
            }
          }
        }
      }
    }

    > div {
      position: sticky;
      bottom: 0;
      z-index: -2;
      color: var(--color-B-contrast);
      background-color: var(--color-gold);
      padding: 1rem 2rem;
      border: 1px solid transparent;

      @media screen and (min-width: 1920px) {
        border-radius: 0 0 5px 5px;
        margin-bottom: 1.2rem;
      }

      p:first-of-type {
        margin-top: 1rem;
      }
    }

    > section {
      padding: 2rem;
      background-color: var(--color-W);
      position: sticky;

      /* Don't z-index here or links won't work */
      > h2 {
        margin-bottom: 0.8rem;
      }

      nav ul {
        list-style: initial;
        margin-left: 1rem;

        > li {
          margin-bottom: 1rem;

          &::marker {
            color: var(--color-gold)
          }

          > p > [href] {

            &:focus,
            &:hover {
              color: var(--color-red);

              span.thumbnail {
                mix-blend-mode: luminosity;
              }
            }

            display: flex;
            align-items: baseline;

            /* CSS W and H mach svg W and W */
            > span.thumbnail {
              display: block;
              clip-path: url(#logoClipper100);
              width: 100px;
              height: 59px;
              margin-right: 0.5rem;

              &.thumb-1 {
                background-position: 80% 400%;
                background-size: 120%;
              }

              &.thumb-2 {
                background-position: 100% 20%;
                background-size: 115%;
              }

              &.thumb-3 {
                background-position: 265% 30%;
                background-size: 110%;
              }

              &.thumb-4 {
                background-position: 98% 0%;
                background-size: 150%;
              }

              &.thumb-5 {
                background-position: 73% -10%;
                background-size: 135%;
              }

              /* TODO: responsive */
              @media screen and (min-width: 810px) {
                &.thumb-1 {
                  background-position: 80% 400%;
                  background-size: 120%;
                }

                &.thumb-2 {
                  background-position: 285% 45%;
                  background-size: 105%;
                }

                &.thumb-3 {
                  background-position: 265% 30%;
                  background-size: 110%;
                }

                &.thumb-4 {
                  background-position: 200% 0%;
                  background-size: 120%;
                }

                &.thumb-5 {
                  background-position: 100% -10%;
                  background-size: 125%;
                }
              }
            }

            > span.news-link-title {
              margin-right: 0.5rem;
            }

            > span.news-link-category {
              color: var(--color-grey-contrast);

              &::after {
                content: "\2197";
                margin-right: 0.2em;
              }
            }
          }
        }
      }
    }
  }
}

/* MAIN - article */
body[class^="pag-article"] main {
  article header {
    margin-bottom: 2rem;

    /* CSS W and H mach svg W and W */
    div.thumbnail {
      clip-path: url(#logoClipper100);
      width: 100px;
      height: 59px;
      margin: 0 auto;

      @media screen and (min-width: 810px) {
        clip-path: url(#logoClipper150);
        width: 150px;
        height: 88px;
      }

      @media screen and (min-width: 1920px) {
        clip-path: url(#logoClipper200);
        width: 200px;
        height: 118px;
      }

      @media screen and (min-width: 2560px) {
        clip-path: url(#logoClipper250);
        width: 250px;
        height: 147px;
      }

      &.thumb-1 {
        background-position: 80% 400%;
        background-size: 120%;
      }

      &.thumb-2 {
        background-position: 320% 435%;
        background-size: 105%;
      }

      &.thumb-3 {
        background-position: 520% 665%;
        background-size: 105%;
      }

      &.thumb-4 {
        background-position: 195% 385%;
        background-size: 120%;
      }

      &.thumb-5 {
        background-position: 100% 0%;
        background-size: 125%;
      }
    }

    h1 {
      margin-top: 0.5rem;
    }
  }
}

/* MAIN - about */
body > main:where(.article, .about) {
  :where(section, .section) {
    margin-bottom: 2.5rem;
    clear: both;

    figure.square:has(img) {
      float: left;
      margin-bottom: 1rem;
      margin-right: 1.5rem;
      width: var(--img-mobile);

      @media screen and (min-width: 810px) {
        width: var(--img-tablet);
        margin-top: 0.5rem;
      }

      @media screen and (min-width: 2560px) {
        width: var(--img-desktop);
      }

      img {
        width: 100%;
        display: block;
        border: 1px solid var(--color-gold);
        border-radius: 5px;
      }
    }

    figure.portrait:has(img) {
      float: left;
      margin-bottom: 1rem;
      margin-right: 3rem;
      width: var(--img-mobile);

      @media screen and (min-width: 810px) {
        max-width: var(--img-tablet);
      }

      img {
        width: 100%;
        display: block;
        border: 1px solid var(--color-gold);
        border-radius: 5px;
      }
    }

    figure:not(.portrait, .square):has(img) {
      float: left;
      width: 100%;
      margin-bottom: 1rem;

      img {
        width: 100%;
        display: block;
        border: 1px solid var(--color-gold);
        border-radius: 5px;
      }

      @media screen and (min-width: 810px) {
        width: var(--img-tablet);
        padding-top: 0.5rem;
        padding-right: 1rem;
      }

      @media screen and (min-width: 1920px) {
        width: var(--img-desktop);
        float: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-bottom: 1rem;
      }

      @media screen and (min-width: 2560px) {
        width: var(--img-TV);
      }
    }

    figure:has(iframe) {
      .responsive-iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        padding-top: 56.25%;

        iframe {
          border: 1px solid var(--color-gold);
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    figure:has(figcaption) {
      > figcaption {
        overflow-wrap: break-word;
        margin-top: 0.3rem;
        font-size: x-small;

        @media screen and (min-width: 810px) {
          font-size: small;
        }

        @media screen and (min-width: 1920px) {
          font-size: smaller;
        }

        @media screen and (min-width: 2560px) {
          font-size: medium;
        }

        > span.figcaption-text {
          color: var(--color-B);
        }

        > [href]::after {
          content: "\2197";
          margin-right: 0.2em;
        }
      }
    }

    ul {
      list-style: initial;
      margin-left: 1rem;
      margin-bottom: 1rem;

      li {
        margin-bottom: 0.25rem;
      }
    }
  }
}

body:where(:has(.categories), [class^="pag-article"]) {
  .article-link {
    list-style: none;

    &::after {
      content: "\22B3";
      margin-left: 0.25rem;
    }
  }
}

/* MAIN - categories */
body > main.categories {
  > nav > ul > li {
    text-align: center;
    margin-bottom: 2rem;

    @media screen and (min-width: 810px) {
      margin-bottom: 2.5rem;
    }

    @media screen and (min-width: 1920px) {
      margin-bottom: 3.5rem;
    }

    @media screen and (min-width: 2560px) {
      margin-bottom: 5rem;
    }

    > ul {
      color: var(--color-gold);
      list-style: initial;

      li {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
          margin-bottom: 0.5rem;

          [href] {
            color: var(--color-secondary);

            &:focus,
            &:hover {
              color: var(--color-red);

              span.thumbnail {
                mix-blend-mode: luminosity;
              }
            }

            flex-flow: column wrap;
            align-items: center;
            display: flex;

            /* CSS W and H mach svg W and W */
            span.thumbnail {
              display: block;
              clip-path: url(#logoClipper100);
              width: 100px;
              height: 59px;

              + span {
                margin-top: .5rem;
                display: block;
              }

              @media screen and (min-width: 810px) {
                clip-path: url(#logoClipper150);
                width: 150px;
                height: 88px;
              }

              @media screen and (min-width: 1920px) {
                clip-path: url(#logoClipper200);
                width: 200px;
                height: 118px;
              }

              @media screen and (min-width: 2560px) {
                clip-path: url(#logoClipper250);
                width: 250px;
                height: 147px;
              }

              &.thumb-1 {
                background-position: 80% 400%;
                background-size: 120%;
              }

              &.thumb-2 {
                background-position: 320% 435%;
                background-size: 105%;
              }

              &.thumb-3 {
                background-position: 520% 665%;
                background-size: 105%;
              }

              &.thumb-4 {
                background-position: 195% 380%;
                background-size: 120%;
              }

              &.thumb-5 {
                background-position: 100% 0%;
                background-size: 125%;
              }
            }
          }
        }
      }
    }

    .under-construction {
      color: var(--color-red);
    }
  }
}

/* MAIN - references */
body > main.references {
  > ul {
    list-style: initial;
    margin-left: 1rem;

    > li {
      margin-bottom: 1rem;

      &::marker {
        color: var(--color-gold)
      }

      @media screen and (min-width: 810px) {
        margin-bottom: 1.5rem;
      }

      @media screen and (min-width: 1920px) {
        margin-bottom: 1.75rem;
      }

      @media screen and (min-width: 2560px) {
        margin-bottom: 2rem;
      }

      [href]::after {
        content: "\2197";
        margin-right: 0.2em;
      }

      h2 {
        margin-bottom: 0;

        @media screen and (min-width: 810px) {
          margin-bottom: 0.3rem;
        }

        @media screen and (min-width: 1920px) {
          margin-bottom: 0.4rem;
        }

        @media screen and (min-width: 2560px) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

/* MAIN spacing */
body > main:where(.index) {
  margin-bottom: 10rem;

  @media screen and (min-width: 810px) {
    margin-bottom: 9rem;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 2560px) {
    margin-bottom: 2rem;
  }
}

body > main:where(.categories) {
  margin-bottom: 0;
}

body > main:where(.article) {
  margin-bottom: 0;
}

body > main:where(.about) {
  margin-bottom: 10rem;
  margin-bottom: 9rem;

  @media screen and (min-width: 1920px) {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 2560px) {
    margin-bottom: 2rem;
  }
}

body > main:where(.references) {
  margin-bottom: 11rem;

  @media screen and (min-width: 810px) {
    margin-bottom: 10rem;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 2560px) {
    margin-bottom: 2rem;
  }
}

/* thumbnails */
.thumb-1 {
  background-image: url("/src/assets/img/sandbread_305.jpg?as=webp");
}

.thumb-2 {
  background-image: url("/src/assets/img/tea_305.jpg?as=webp");
}

.thumb-3 {
  background-image: url("/src/assets/img/acacus_305.jpg?as=webp");
}

.thumb-4 {
  background-image: url("/src/assets/img/forest_project_305.jpg?as=webp");
}

.thumb-5 {
  background-image: url("/src/assets/img/green_wall_305.jpg?as=webp");
}

/* debug */
.red {
  outline: 1px solid red;
}
